body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #596a78;
  height: 80px;
}

#right-nav {
  background-color: #596a78;
  border-color: #596a78;
  min-width: 100px;
  height: 45px;
  margin-top: 25px;
  font-size: 15pt;
  text-decoration: none;
}

#right-nav a {
  color: white;
  margin: 10px 25px;
}

#left-nav {
  background-color: #596a78;
  border-color: #596a78;
  min-width: 100px;
  height: 45px;
  margin-top: 25px;
  font-size: 15pt;
  text-decoration: none;
}

#left-nav a {
  color: white;
  margin: 10px 25px;
}

#hover-gold:hover {
  color: #fcbe10;
}

#about-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#about-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 30pt;
  color: #596a78;
}

#about img {
  width: 400px;
  border-style: solid;
  border-width: 4px;
  border-color: #fcbe10;
  padding: 50px;
}

#about-paragraph {
  margin-left: 50px;
  font-size: 14pt;
  color: #596a78;
  width: 500px;
}

#home-container {
  text-align: center;
  margin-top: 100px;
}

#resume-download {
  color: #596a78;
  border-color: #fcbe10;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  font-size: 15pt;
  padding: 25px;
}

#resume-container {
  text-align: center;
  margin-top: 150px;
}

#contact-container {
  text-align: center;
}

#skills-container {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 600px;
}

.transparent-logo {
  width: 180px;
  margin: 15px;
  opacity: 0.5;
}

#stackoverflow {
  width: 230px;
  margin: 0 15px 15px 30px;
  opacity: 0.5;
}

.transparent-logo:hover {
  opacity: 1;
}

#stackoverflow:hover {
  opacity: 1;
}

#contact-title {
  margin-top: 100px;
  font-size: 30pt;
  color: #fcbe10;
}

#email-title {
  margin-top: 25px;
  font-size: 15pt;
}

#seattle {
  margin-top: 50px;
  width: 450px;
  opacity: 0.95;
}

#contact-details {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #596a78;
  font-size: 15pt;
}

.skills p {
  margin: 0;
  width: 250px;
}

#increase-font {
  font-size: 15pt;
  color: #596a78;
}

.skills-titles {
  font-size: 20pt;
  color: #fcbe10;
}

#project-container {
  text-align: center;
}

#project-container a {
  color: #fcbe10;
  font-size: 14pt;
  font-weight: 550;
}

#speakgood-links {
  display: flex;
  justify-content: space-between;
}

#project-container-title {
  margin-top: 70px;
  font-size: 20pt;
  color: #596a78;
  margin-bottom: 70px;
}

.photo-description {
  display: flex;
  justify-content: left;
  margin: 40px;
}

#hello {
  width: 350px;
}

#home-title {
  font-size: 35pt;
  color: #fcbe10;
}

#home-name {
  font-size: 18pt;
  margin-top: 60px;
  color: #596a78;
}

.home-p {
  font-size: 13pt;
  color: #596a78;
}

#location {
  color: #fcbe10;
  font-size: 15pt;
}

.project-img {
  width: 850px;
  border-style: solid;
  border-width: 4px;
  border-color: #fcbe10;
  padding: 10px;
  margin-left: 15px;
}

.description-details {
  margin-left: 50px;
  text-align: left;
  width: 700px;
}

.description-details p {
  color: #596a78;
  font-size: 14pt;
}

.description-title {
  text-align: center;
  font-size: 18pt;
  font-weight: 100;
  color: #596a78;
  margin-top: 5px;
}

.make-gold {
  color: #fcbe10;
}

#not-found {
  text-align: center;
  margin-top: 300px;
  font-size: 18pt;
  color: #596a78;
}

#not-found a {
  margin-top: 20px;
  color: #fcbe10;
}

#overview-vid {
  text-align: center;
  margin: 0;
}
.media-links {
  display: flex;
  justify-content: center;
}
.media-links p {
  margin: 10px 80px;
}

#speakgood-title {
  margin: 30px;
}
#gutcheck-title {
  margin: 70px 30px 30px 30px;
}

#cupcakes-title {
  margin: 90px 30px 30px 30px;
}
